# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
.env
.envrc

# Streamlit
.streamlit/secrets.toml

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Local data / cache
*.sqlite
.cache/
**/.pytest_cache/

# VSCode / Editors
.vscode/
.idea/ 